html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  margin: 1in; 
  padding: 20px;
  border: 1px solid #999; 
  min-height: calc(100vh - 2in); 
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: white;
  color: black;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  letter-spacing: 2px; 
  text-transform: uppercase;
  margin-bottom: 0.1em; 
  font-weight: 300; 
}

h2 {
  font-size: 24px;
  color: #006EB6;
  letter-spacing: 1px; 
  border-bottom: 1px solid #999; 
  display: block; 
  max-width: 600px; 
  margin: 0 auto 8px auto; 
  padding-bottom: 0; 
  font-weight: 300; 
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
}

ul, ol {
  max-width: 600px; 
  margin: 0 auto;
  padding-left: 20px;
}

ol li {
  margin-bottom: 0.25in; 
}

footer {
  text-align: center;
  padding: 10px;
}

#logo {
  width: 150px;
  height: auto; 
}

.theme-selector-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#themeSelector {
  margin-left: 10px;
  padding: 5px;
}

body.dark {
  background-color: #333;
  color: white;
}

body.dark h2 {
  color: #A7C6FF;
}
